/* Style */
.root{
    -fx-background-color: #383d3b;
    -fx-background-position: center center;
}
/*Riferito ai containers dei consiglieri e delle carte politiche*/
#myHbox {
   /** -fx-padding:0 0 10 0;**/
}

/*Container che contiene i due anchorpane delle building card (1 per region)*/
.buildingHbox{

}

/*Iniziali delle città nelle buildingcards*/
.initialOfCityBulding{
    /*-fx-padding: 20px 10px 0px 0px;*//

}

/*BONUS 1 BUILDING CARD*/
/*Immagini dei bonus delle building cards*/
.bonusBuildingCard1{

}
/*Numero dei bonus (associato all'immagine del bonus) della building card*/
.textBonusBuildingCard1{


}

/*BUILDING CARD 2*/
/*Immagini dei bonus delle building cards*/
.bonusBuildingCard2{

}
/*Numero dei bonus (associato all'immagine del bonus) della building card*/
.textBonusBuildingCard2{

}
.detailsText{
    -fx-text-fill: WHITE;
}


/* BOTTONI HOME*/

.bottonato{
   /* -fx-padding: 0.4em 0.3em; */
    -fx-font-size: 12px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(142, 204, 111);
    -fx-pref-width: 80;
    -fx-text-fill: WHITE;
}


.danger{
    -fx-background-color: rgb(204, 22, 21);
}

.balconato{
    -fx-background-image: url("/../maps/images/councilor/balcone.png");
    -fx-background-position: center center;
    -fx-background-size: 100%;
    -fx-background-repeat: repeat repeat;
    -fx-border-color: red;
    -fx-border-insets: 19;
}
.rotoButton{
    -fx-padding: 0.5em 0.4em;
    -fx-font-size: 15px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(30, 189, 204);
    -fx-background-radius: 9;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-text-fill: WHITE;
}

#firstRoto {
    -fx-background-radius: 4;
    -fx-background-color: #cc41c2;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-font-size: 18px;
}



.cityReward{
/*-fx-padding: 20;*/


}
.cityTextBonus{
    -fx-font-size: 20px;
}




.detailsText{
    -fx-font-size: 20px;
}










/*Primo bonus delle città*/
.cityRewardImage1{

}
.cityTextBonus1{

}

/*Secondo bonus delle città*/

.cityRewardImage2{ /*Stemmino */

}

.cityTextBonus2{ /* Quantità */

}
.mainAction{
    -fx-background-color: #babd00;
}
.fastAction{
   -fx-background-color: #bd9207;
}